* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/background3.png');
}

input {
    cursor: pointer;
}

img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-body {
    color: #fff;
}

.table-payment td {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.0);
}