* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/background3.png');
}

input {
    cursor: pointer;
}

img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.payment{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
}

.payment td{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}