  .custom-table {
    background-color: #212529;
    color: white;
  }

  .custom-table th,
  .custom-table td {
    color: white;
  }

  .navbar-artist {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }

  .navbar-artist:hover {
    background-color: white;
  }

  .sidebarhover {
    font-size: small;
    width: 100%;
    color: white;
  }

  .sidebarhover:hover {
    color: black;
    background-color: white;
    font-size: small;

  }
