nav {
    display: flex;
    align-items: center;
    background: rgba(11, 11, 11, 0.5);
}

/*logo*/
.logo {
    width: 91.9465px;
    height: 82.5px;
    margin-left: 35px;
    margin-right: 35px;
}

/*garis batas*/
.line {
    border-right: 1px solid #fff;
    height: 50px;
    margin: 0 20px;
    margin-right: 116px;
}


/*search-bar*/
.search-bar {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    display: inline-flex;
    height: 40px;
    padding: 5px 12.181px 5px 5px;
    border: 1px solid var(--light-gray-light-gray-2, #DDE2E4);
    background: #535353;
    margin-right: 120px;
}

.search-icons {
    color: #B0BABF;
    font-size: 24px;
    padding: 0 5px;
}

.search-input {
    color: var(--mid-gray-mid-gray-4, #9AA6AC);
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.search-input:focus {
    outline: none;
}


/*item navbar*/
.navbar,
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.navbar li {
    list-style: none;
    padding: 0 45px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.signin-button {
    font-size: 16px;
    padding: 16px 24px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid var(--primary-01, #485AFF);
    background: var(--primary-01, #485AFF);
    margin-left: 33px;
}