.main-footer {
  color: white;
  background-color: #000000;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.col a {
  color: white;
  text-decoration: none;
  width: 100%;
  align-items: center;
  transition: color 0.3s ease;
  justify-content: space-between;
}

.col a:hover {
  color: #485aff;
}

.icon-container {
  display: inline-block;
  margin: 15px;
  position: relative;
}

.icon {
  margin-top: 40%;
  margin-left: 300%;
  padding: 20%;
  font-size: 2em;
  transition: background-color 1s ease;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
}

.icon:hover {
  background-color: #485aff;
  width: 100%;
}

.col-sm {
  align-items: center;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .col a {
    padding: 1px;
    margin-left: 6%;
  }
  .icon {
    margin-left: 480%;
  }
}
