body {
  margin: 0;
  padding: 0;
}

.search-input::placeholder {
  color: var(--mid-gray-mid-gray-4, #9aa6ac);
}

.nav {
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav:hover {
  color: #485aff;
}
